{% extends 'base.html' %}
{% load static %}
{% block main %}
        <div class="gallery">
    <form action="/{{user.pk}}/" method="get" class="img-div">
        <input type="hidden" name="count" id="countInput" value="1">
        <button type="submit" style="background: none; border: none; padding: 0;">
        <img src="{% static '/assets/img/coin.png' %}" alt="Main Coin" class="main-image" id="main-coin" draggable="false">
        </button>
    </form>
        </div>
        <div class="div-rank">
    <div>
        <p class="p-rank">{{ user.rank }}</p>
    </div>
        </div>
{%  endblock %}